// ------- css styling for phone ---------//
body{
    // background-image: url(../img/gplaypattern.png);
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color: red;
}
h1, h2, h3, h4, h5 {
    font-family: 'Source Code Pro', monospace;
}

.container{
    background-color: rgba(255,255,255,.8);
    // box-shadow: 0px 0px 10px rgb(192, 191, 191);
    z-index: 2;
    max-width: 100%;

}

